<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title></title>
</head>
<body>
  <div class="container text-center">
      <div class="col-md-8 offset-md-2">
        <h1>Генератор паролей</h1> 

        <form id="password-form" action="{% url 'password' %}">
          Длина пароля<select name="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
          </select>

          <input type="submit" value="Сгенерировать пароль">

          <div class="container text-center">
            <input class="form-check-input" type="checkbox" value="" id="uppercase-checkbox" name="uppercase">
            <label class="form-check-label" for="uppercase-checkbox">
              Верхний регистр
            </label>
          </div>

          <div class="container text-center">
            <input class="form-check-input" type="checkbox" value="" id="lowercase-checkbox" name="symbols" align = "center">
            <label class="form-check-label" for="symbols-checkbox">
              Символы
            </label>
          </div>

          <div class="container text-center" >
            <input class="form-check-input" type="checkbox" value="" id="digits-checkbox" name="digits">
            <label class="form-check-label" for="digits-checkbox">
              Цифры
            </label>
          </div>

          <br>        
          <a href="{% url 'info' %}">О проекте</a>
        
        </form>        
      </div>
    </div>
<script>
  const passwordForm = document.getElementById('password-form');
  const passwordLength = document.getElementById('password-length');
  const uppercaseCheckbox = document.getElementById('uppercase-checkbox');
  const symbolsCheckbox = document.getElementById('symbols-checkbox');
  const digitsCheckbox = document.getElementById('digits-checkbox');
  
  passwordForm.addEventListener('submit', (event) => {
    event.preventDefault();
    
    const selectedLength = passwordLength.value;
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set('length', selectedLength);
    urlParams.set('uppercase', uppercaseCheckbox.checked);
    urlParams.set('symbols', symbolsCheckbox.checked);
    urlParams.set('digits', digitsCheckbox.checked);
    
    window.history.replaceState({}, '', ${window.location.pathname}?${urlParams});
    
    passwordForm.submit();
  });
</script>
</body>
</html>