<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Благодарим вас за использование нашего приложения!</h2>
    <p>Наш сайт предоставляет возможность генерировать случайные пароли заданной длины и с заданными параметрами.</p>
    <p>Пользователь может выбрать, какие символы должны быть включены в пароль, такие как буквы в верхнем и нижнем регистре, цифры и специальные символы.</p>   
    <p>После выбора параметров, пользователь может нажать кнопку "Сгенерировать пароль", чтобы получить новый пароль.</p>

    <h3>Инструкция по использованию:</h3>
        <p>1. Откройте ваш сайт в браузере.</p>
        <p>2. Выберите длину пароля, которую вы хотите сгенерировать, используя поле "Длина пароля".</p>
        <p>3. Выберите параметры, которые вы хотите включить в пароль, используя флажки "Буквы в верхнем регистре","Цифры" и "Специальные символы", а "Буквы в нижнем регистре" добавляются автоматически.</p>
        <p>4. Нажмите кнопку "Сгенерировать пароль".</p>
        <p>5. Новый пароль будет отображен на экране. Если вы не удовлетворены этим паролем, вы можете нажать кнопку "Сгенерировать пароль" еще раз, чтобы получить новый пароль.</p>
        <p>6. Скопируйте сгенерированный пароль и используйте его для своих нужд.</p>

        <form action="{% url 'home' %}">
            <input type="submit" value="На главную">
        </form>   
</body>
</html>