<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>   
</head>
<body>
    <div class="row" align="center">
        <div class="col-md-8 offset-md-2">
            <h2>Ваш пароль:</h2>
            <div class="alert alert-success" role="alert">
                <h3>{{password}}</h3>
            </div>       
        
            <form action="{% url 'home' %}">
                <input type="submit" value="На главную">
            </form>
        </div>
    </div>      
      
    

</body>
</html>